/* your-component.css */

/* Центрирование по вертикали и горизонтали */
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100% высоты окна просмотра */
}

/* Стиль для контейнера с кнопками */
.buttons-container {
  margin-top: 20px; /* Расстояние между формой и кнопками */
  display: flex;
  gap: 10px; /* Расстояние между кнопками */
}

/* Стиль для кнопок */
button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Стиль для сообщений об ошибке у входных полей */
div {
  color: red;
  margin-top: 5px;
}

.container {
  padding: 40px;
  border: 1px solid rgb(240, 231, 231);
  border-radius: 15px;
  background-color: #f2f2f2; /* Добавьте фоновый цвет по вашему выбору */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Добавьте тень */
  margin: 0 auto; /* Центрируйте контейнер по горизонтали */
  max-width: 600px; /* Ограничьте максимальную ширину контейнера */
}




